.header {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dunc6xvuh/image/upload/v1616815322/material/spacex-logo-black-and-white_nymju7.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50% 50%;
  opacity: 0;
  z-index: 1;
  animation: LogoFadeIn 2s forwards;
}

.fadeout {
  animation: LogoFadeOut 2s forwards;
}

.hide {
  z-index: -1;
}

@keyframes LogoFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes LogoFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
