@import "./index.scss";

%align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%align-center-column {
  @extend %align-center;
  flex-direction: column;
  justify-content: space-between;
}

%hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

%gross-glass {
  content: "";
  position: absolute;

  // blur
  filter: blur(2px);
  z-index: -4;

  // media query RWD
  @media screen and (min-width: 576px) {
    top: 5vh;
    bottom: 5vh;
    left: 5vw;
    right: 5vw;
  }
  @media screen and (max-width: 576px) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

%wrapper-width {
  @media screen and (min-width: 576px) {
    width: 90vw;
    height: 90vh;
  }
  @media screen and (max-width: 576px) {
    width: 100vw;
    height: 100vh;
  }
}

.home {
  height: 100vh;
  overflow: hidden;
  min-height: 700px;

  .item {
    @extend %align-center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 1;
    .wrapper {
      @extend %align-center-column;
      @extend %wrapper-width;
      @extend %hide-scroll-bar;

      animation: var(--animation-fade-in) 2s forwards;
      color: white;
      overflow-y: scroll;
      z-index: 1;
    }

    &:after {
      @extend %background_position_setting;
      @extend %hide-scroll-bar;
      @extend %gross-glass;
      border-radius: 10px;
      background-image: linear-gradient(
          to top,
          rgba(51, 51, 51, 0.294),
          rgba(51, 51, 51, 0.294)
        ),
        var(--galaxy-background);
    }
  }
}
