%align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%align-center-column {
  @extend %align-center;
  flex-direction: column;
  justify-content: space-between;
}

%hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.home {
  height: 100vh;
  min-height: 700px;

  .item {
    @extend %align-center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 0;
    animation: FadeIn 2s forwards;

    .wrapper {
      @extend %align-center-column;
      width: 90vw;
      height: 90vh;
      color: white;
      overflow-y: scroll;
      z-index: -1;

      @extend %hide-scroll-bar;
      ::-webkit-scrollbar {
        display: none;
      }
      p {
        width: 100%;
        max-width: 560px;
      }
    }
  }
}