.title {
  padding: 4rem 15px;
  text-align: center;
}

.text {
  line-height: 3rem;
  font-size: x-large;

  width: 100%;
  max-width: 800px;
  // font-size: 90%;

  .article__link {
    color: white;
  }
}
